<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MySoft_YouTube_Downloader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MySoft_YouTube_Downloader.My.MySettings>
      <setting name="dpdVidQualityFSG" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="dpdVidFormatFSG" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="switchAppearence_AsDefaultFSG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ckbFSA_PasteURLs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ckbFSA_PreviewVid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ckbFSA_AddHistory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ckbFSA_AutoCkUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ckbFSA_AutoSaveSets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="switchOffDownloadDoneFSA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="switchSoundEnableFSA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtFileNameFSF" serializeAs="String">
        <value />
      </setting>
      <setting name="switchOriginal_YoutubeTileFSF" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="txtFilePathFSO" serializeAs="String">
        <value />
      </setting>
      <setting name="ckbFSO_KeepOrig_FileName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ckbFSO_Overwrite_IfExist" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ckbFSO_SaveVidThumbnail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cbbQuality_strFD" serializeAs="String">
        <value />
      </setting>
      <setting name="cbbFormat_strFD" serializeAs="String">
        <value />
      </setting>
      <setting name="txtURL_varFD" serializeAs="String">
        <value />
      </setting>
      <setting name="lblCurrentStatus_varFTMD" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lblLastDownFTMD_var" serializeAs="String">
        <value />
      </setting>
      <setting name="lblVidSize_varFTMD" serializeAs="String">
        <value />
      </setting>
      <setting name="lblVidName_varFTMD" serializeAs="String">
        <value />
      </setting>
      <setting name="lblVidFormat_varFTMD" serializeAs="String">
        <value />
      </setting>
      <setting name="lblProgressValueFTMD_var" serializeAs="String">
        <value />
      </setting>
      <setting name="gpgbDownloadProgressFTMD" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ui_ftmd_lblVidName_varFTMD" serializeAs="String">
        <value />
      </setting>
      <setting name="ui_ftmd_lblVidSize_varFTMD" serializeAs="String">
        <value />
      </setting>
      <setting name="ui_ftmd_lblVidFormat_varFTMD" serializeAs="String">
        <value />
      </setting>
      <setting name="ui_ftmd_lblLastDownFTMD_var" serializeAs="String">
        <value />
      </setting>
      <setting name="ui_ftmd_lblCurrentStatus_varFTMD" serializeAs="String">
        <value />
      </setting>
      <setting name="ui_ftmd_lblProgressValueFTMD_var" serializeAs="String">
        <value />
      </setting>
      <setting name="FP_txtURL_varFD_pass" serializeAs="String">
        <value />
      </setting>
      <setting name="direct_prev_link" serializeAs="String">
        <value />
      </setting>
      <setting name="ui_frm_varDownSize" serializeAs="String">
        <value />
      </setting>
      <setting name="History" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ui_log" serializeAs="String">
        <value />
      </setting>
      <setting name="switchHomeTutoMain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="switchHomeTutoFSG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ui_lbl_frmPlay_varVidName" serializeAs="String">
        <value />
      </setting>
      <setting name="ui_lbl_frmPlay_varVidPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ui_lbl_frmPlay_varProgressBar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ui_feedbacks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ui_premiumfeatures" serializeAs="String">
        <value>True</value>
      </setting>
    </MySoft_YouTube_Downloader.My.MySettings>
  </userSettings>
</configuration>